body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}


.button {
  color: #ffffff;
  background-color: #fb565a;
  line-height: 18px;
  font-weight: 500;
  padding: 18px 60px 18px 60px;
  border-radius: 4px;
  border: 2px solid transparent;
  text-transform: uppercase;
}

.nav-link:hover {
 color: #fb565a;

}

.nav-link:active {
  color: #bdbdbd;
}

.nav-link-active {
  border-bottom: 2px solid #fb565a;
}

.button:hover {
  color: #ffffff;
  background: #e74246;
}

.button:active {
  color: #e06366;
  background: #d7373b;
}

.slider .button {
  padding: 18px 60px 18px 60px;
}

.contacts .button {
  line-height: 18px;
  padding: 18px 45px 18px 45px;
}

.form .button {
  padding: 18px 83px 18px 83px;
}

.settings .button {
  padding: 18px 88px 18px 88px;
  background-color: #eeeeee;
  color: #000000;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  color: #ffffff;
  background: #00bc6c;
}

.button-green:active {
  color: #4dc491;
  background: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  color: #ffffff;
  background: #eab534;
}

.button-yellow:active {
  color: #edc265;
  background: #e5a722;
}

li {
  list-style-type: none;
}

.nav {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

header {
  background-color: #eeeeee;
}

.slider {
  background-color: #eeeeee;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-content {
  margin-bottom: 27px;
}

.slider-text {
  color: #283136;
}

.services-text {
  color: #283136;
}

.services-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.about-title {
  font-size: 45px;
  line-height:45px;
  font-weight: 500;
}

.about-subtitle{
  font-weight: bold;
  text-transform: uppercase;
}

.about-text {
  color: #283136;
}

.about-item {
  color: #283136;
}

.info-percent {
  font-weight: bold;
  font-size: 45px;
}

.info-title {
  font-weight: bold;
  text-transform: uppercase;
}

.info-confidence {
  line-height: 18px;
  color: #283136;
}

.catalog-text {
  line-height: 18px;
  color: #666666;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts-title {
  line-height: 30px;
}

.contacts-text {
  line-height: 18px;
  color: #666666;
}

.logo-img {

}

.filter-legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-text {
  line-height: 22px;
  color: #283136;
}

.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.footer-text {
  color: #444444;
}

.form-text {
  line-height: 18px;
  font-weight: bold;
}

.sorting {
  text-transform: uppercase;
}

.sorting-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.radio-text {
  line-height: 20px;
}

.checkbox-text {
  line-height: 20px;
}

