body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}


.button {
  color: #ffffff;
  background-color: #fb565a;
  line-height: 18px;
  font-weight: 500;
  padding: 18px 60px 18px 60px;
  border-radius: 4px;
  border: 2px solid transparent;
  text-transform: uppercase;
}

.nav-link:hover {
 color: #fb565a;

}

.nav-link:active {
  color: #bdbdbd;
}

.nav-link-active {
  border-bottom: 2px solid #fb565a;
}

.button:hover {
  color: #ffffff;
  background: #e74246;
}

.button:active {
  color: #e06366;
  background: #d7373b;
  box-shadow: 0 5px 0 #c13135 inset;
}

.slider .button {
  padding: 18px 60px 18px 60px;
}

.contacts .button {
  line-height: 18px;
  padding: 18px 45px 18px 45px;
}

.form .button {
  padding: 18px 83px 18px 83px;
}

.settings .button:hover {
  color: #3b3b3b;
  background-color: #dfdfdf;
}

.settings .button:active {
  color: #959595;
  background-color: #d5d5d5;
  border: none;
  box-shadow: 0 5px 0 #bfbfbf inset;
}

.settings .button {
  padding: 18px 88px 18px 88px;
  background-color: #eeeeee;
  color: #000000;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  color: #ffffff;
  background: #00bc6c;
}

.button-green:active {
  color: #4dc491;
  background: #00aa62;
  box-shadow: 0 5px 0 #009958 inset;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  color: #ffffff;
  background: #eab534;
}

.button-yellow:active {
  color: #edc265;
  background: #e5a722;
  box-shadow: 0 5px 0 #ce961f inset;
}

li {
  list-style-type: none;
}

.nav {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

header {
  background-color: #eeeeee;
}

.slider {
  background-color: #eeeeee;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-content {
  margin-bottom: 27px;
}

.slider-text {
  color: #283136;
}

.services-text {
  color: #283136;
}

.services-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.about-title {
  font-size: 45px;
  line-height:45px;
  font-weight: 500;
}

.about-subtitle{
  font-weight: bold;
  text-transform: uppercase;
}

.about-text {
  color: #283136;
}

.about-item {
  color: #283136;
}

.info-percent {
  font-weight: bold;
  font-size: 45px;
}

.info-title {
  font-weight: bold;
  text-transform: uppercase;
}

.info-confidence {
  line-height: 18px;
  color: #283136;
}

.catalog-text {
  line-height: 18px;
  color: #666666;
}

.catalog .button {
  padding: 18px 61px 18px 61px;
}

.catalog .button:hover {
  color: #ffffff;
  background: #e74246;
}

.catalog .button:active {
  color: #ffffff;
  background: #d7373b;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-title:hover {
  color: #fb565a;
}

.catalog-title:active {
  color: #b2b2b2;
}

.catalog-img:hover {
  box-shadow: 2px 2px 5px 5px #eeeeee
}

.contacts-title {
  line-height: 30px;
}

.contacts-text {
  line-height: 18px;
  color: #666666;
}
.logo-img {
  opacity: 0.2;
}

.logo-img:hover {
  opacity: 1;
}

.logo-img:active {
  opacity: 0.1;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.filter-legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-text {
  line-height: 22px;
  color: #283136;
}

.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.footer-text {
  color: #444444;
}

.form-text {
  line-height: 18px;
  font-weight: bold;
}

.sorting {
  text-transform: uppercase;
}

.sorting-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.sorting-item {
  font-size: 14px;
  line-height: 18px;
}

.sorting-list a{
  color: #b2b2b2;
}

.sorting-list a:hover {
  color: #a6a6a6;
}

.sorting-list a:active {
  color: #231f20;
}

.radio-text {
  line-height: 20px;
}

.checkbox-text {
  line-height: 20px;
}

.footer-img a:hover {
  color: #ffffff;
  background: #e74246;
}

.footer-img a:active {
  color: #e37376;
  background: #d7373b;
}

.footer-img a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #e1e1e1;
  border-radius: 50px;

}

.pagination-item a {
  line-height: 18px;
  color: #000000;
  background: #eeeeee;
  padding: 18px 23px 18px 23px;

}

.pagination-item a:hover {
  color: #000000;
  background: #dfdfdf;
}

.pagination-item a:active {
  color: #b7b7b7;
  background: #d5d5d5;
}

.filter-item {
  color: #b8b8b8;
}

.filter-item:hover {
  color: #4d4d4d;
}

.filter-item:disabled {
  color: #ededed;
}

.filter input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.filter input:hover {
  border-color: #b4b9bb;
}

.filter input:focus {
  border-color: #000000;
}
